@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1d1d1d;
}

.card {
  width: 250px;
  background: #232323;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 5px 10px;
  position: relative;
  overflow: hidden;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #ffffff70;
  filter: blur(50px);
}

.card::before {
  top: 0;
  left: 0;
}

.card::after {
  bottom: 0;
  right: 0;
}

.img__conatiner {
  width: 95%;
  height: 250px;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 8px;
  box-shadow: 0 0 30px #00000048;
  z-index: 200;
  transition: transform 0.4s;
}

.img__conatiner img {
  width: 100%;
  height: 100%;
}

.card__content {
  width: 95%;
  margin: 5px 0 8px 0;
  z-index: 1;
}

.nft__name,
.nft__price {
  color: #ffffffdb;
}

.nft__lastsale {
  color: #ffffffb8;
}

.addtocart__container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(0px);
  z-index: 10;
  transition: backdrop-filter 0.4s;
}

.addtocart__container .btn__addtocart {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 40px);
  background: rgba(255, 255, 255, 0.122);
  border: none;
  width: 200px;
  padding: 5px 0;
  font-size: 18px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s;
}

.addtocart__container .btn__addtocart:hover {
  background: rgba(255, 255, 255, 0.167);
}

.card:hover .img__conatiner {
  transform: scale(1.05);
}

.card:hover .addtocart__container {
  backdrop-filter: blur(10px);
}

.card:hover .addtocart__container .btn__addtocart {
  transform: translate(-50%, -30px);
}
